<section class="banner tagline">
  <div class="usa-grid">
  {% for form in site.forms %}
    {% if form.type == 'newsletter' %}
      {% assign f = form %}
    {% endif %}
  {% endfor %}


      <Table style="border: 1px solid white;">
        <tr><td width="66%">
  <form method=post action="https://public.govdelivery.com/accounts/USGSA/subscribers/qualify" style="border: 0px solid #00008b;">
   
    <input name="utf8" type="hidden" value="✓" />
    <Legend STYLE="color: #FFFFFF;"><img src="/site/rwuhrman/Federalist-Test/assets/img/news.png" valign=middle>&nbsp;Sign-Up to Receive Updates from Our Team</Legend>
   <span style="font-size:14px; color:#FFFFFF;"></span>   
  <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token" value="OmpVuYESHv+SccYMCRNJaxbCmTGERGw/OXWPv59ppg4hziQG+lh7WkbDhRakuEIIxGozs5kG+33oX8JMVCYPtA==" />

<input type="hidden" name="topic_id" id="topic_id" value="USGSA_512" />

   <fieldset style="padding:10px;margin:0 auto;border:2px solid #2c4f7e;">

   <input type="text" name="email" id="email" class="long" style="width:100%;" />
    <input type="submit" name="commit" value="Sign-Up" class="form_button" />

<label for="email"><img class="required" src="https://public.govdelivery.com/static/required.gif" alt="Required" /><span style="font-size:14px;">Email Address</span></label><br/>

   </fieldset>
     </form>  
          </td>
          <TD valign=top><LEGEND style="color:#FFFFFF;">Archive</LEGEND>
            
          </TD>
        </TR>
    </TABLE>
          
          
    
  </div>
</section>
