---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="height: 300px; background-image: url('{{ page.hero-image | prepend: site.baseurl }}');">
    <div class="usa-grid" style="border: 0px;">
      <div class="usa-width-whole hero-content" style="white-space: nowrap;">
        <center>
        <div style="width: 70%; align: middle;">
        <font style="color:#ffffff; font-family: tahoma; font-size:16px;"><B>"{{ page.hero-text }}</br>
           - Cross Agency Priority Goal for Shared Services</B></font><BR>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
  </div>
        </center>
  </div>
    </div>
  </div>
</section>


{% if page.banner-heading %}
<section class="banner">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section class="banner tagline">
  <div class="usa-grid tagline">
   
    
    <div class="usa-width-one-whole usa-end-row tagline">
       <div class="usa-width-one-third usa-end-row project">
       <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/memos.png"></span>
        <h3 class="project--description"><span> -- </span></h3>
    </div>
  
   <div class="usa-width-one-third project">
          <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/news.png"></span>
        <h3 class="project--description"><span>Eight personalized text messages to low-income students resulted in a nearly 9% increase in college enrollment.&nbsp;&gt;</span></h3>
      </a>
    </div>
  

    <div class="usa-width-one-third project">
          <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/events.png"></span>
        <h3 class="project--description"><span>A single email to military Servicemembers nearly doubled the rate of enrollment for a savings plan.&nbsp;&gt;</span></h3>
      </a>
    </div>
      
      
      
   
  </div>
</section>

<section>
  <div class="usa-grid">
  <h2>Modernization and Migration Framework</h2>
      <img src="http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/rwuhrman/Federalist-Test/assets/img/m3.png" height="50%" width="50%">
    
  </div>
  
  
  
</section>




{% include contact.html %}
