---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="height: 300px; background-image: url('{{ page.hero-image | prepend: site.baseurl }}');">
    <div class="usa-grid" style="border: 0px;">
      <div class="usa-width-whole hero-content" style="white-space: nowrap;">
        <center>
        <div style="width: 70%; align: middle;">
        <font style="color:#ffffff; font-family: tahoma; font-size:16px;"><B>"{{ page.hero-text }}</br>
           - Cross Agency Priority Goal for Shared Services</B></font><BR>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
  </div>
        </center>
  </div>
    </div>
  </div>
</section>


{% if page.banner-heading %}
<section class="banner">
  <div class="usa-grid" style="width:80%">
    <div class="usa-width-one-whole usa-end-row">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section class="banner tagline">
  <div class="usa-grid tagline">
    <div class="usa-width-one-whole usa-end-row tagline">
       <div class="usa-width-one-third usa-end-row project">
       <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/memos.png" ></span>
         <h3 class="project--description"><span><A HREF="/"></A></span></h3>
    </div>
  
   <div class="usa-width-one-third project">
          <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/news.png"></span>
        <h3 class="project--description"><span>Eight personalized text messages to low-income students resulted in a nearly 9% increase in college enrollment.&nbsp;&gt;</span></h3>
      </a>
    </div>
  

    <div class="usa-width-one-third project">
          <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/events.png"></span>
      <h7 class="project--description"><span>
        <LI><font style="color:#FFFFFF;">November 3: Provider Council Meeting</font></LI>
          <LI><font style="color:#FFFFFF;">November 9: Managing Partner Council Meeting</font></LI>
           <LI><font style="color:#FFFFFF;">November 17: Shared Services Goverenance Board</font></LI>
          <LI><font style="color:#FFFFFF;">December 13: Customer Council Meeting</font></LI> 
        </span></h3>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="usa-grid">
    <h2><img src="/site/rwuhrman/Federalist-Test/assets/img/m3.icon.svg" width=45 height=45 valign=middle>&nbsp;Modernization and Migration Framework (M3)</h2><table align=left style="border: 1px solid white;"><TR style="border: 1px solid white;">
      <TD  style="border: 1px solid white;" valign=top><img src="http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/rwuhrman/Federalist-Test/assets/img/m3.png" align=left></TD>
      
      <TD  style="border: 1px solid white;">&nbsp;</TD>
      
    <TD style="border: 1px solid white;" valign=top ><I>August 3, 2016</I><BR>
Modernization and Migration Management (M3) is a framework designed to help the government achieve successful outcomes and reduce risk during administrative system and/or service modernizations and migrations.
<BR><BR>
M3 was built in collaboration with customers, providers, and industry. It incorporates leading practices and lessons learned from prior migrations.
  <B>Continue Reading About M3</B> <a href="/m3"><img style="vertical-align: middle" src="https://www.ussm.gov/files/2015/12/icon.learn_.png" border="0" /></a>
  </TD>  
  </TR></TABLE>
      
      </div>
</section>
{% include contact.html %}
