---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="height: 300px; background-image: url('{{ page.hero-image | prepend: site.baseurl }}');">
    <div class="usa-grid" style="border: 0px;">
      <div class="usa-width-whole hero-content" style="white-space: nowrap;">
        <center>
        <div style="width: 70%; align: middle;">
        <font style="color:#ffffff; font-family: tahoma; font-size:16px;"><B>"{{ page.hero-text }}</br>
           - Cross Agency Priority Goal for Shared Services</B></font><BR>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
  </div>
        </center>
  </div>
    </div>
  </div>
</section>


{% if page.banner-heading %}
<section class="banner">
  <div class="usa-grid" style="width:80%">
    <div class="usa-width-one-whole usa-end-row">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section class="banner tagline">
  <div class="usa-grid tagline">
    <div class="usa-width-one-whole usa-end-row tagline">
       <div class="usa-width-one-third usa-end-row project"  style="width: 60%;">
       <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/memos.png" ></span>
         <Legend>News and Updates</Legend>
  <h3 class="project--description"><span>
          <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: 
            -18px;"><A HREF="https://www.whitehouse.gov/blog/2016/08/03/making-modernizations-and-migrations-successful">Making Modernizations 
            Successful, 8/3/2016</A></span></li></font>
          <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: 
            -18px;"><A HREF="http://www.gsa.gov/portal/content/141410">Federal Government Seeks Ways to Modernize the Government-wide Payroll</A>, 7/29/2016</span></li></font>
          <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: 
            -18px;"><A HREF="http://www.gsa.gov/portal/content/139266">USSM Announces Industry Day</A>, 7/13/2016</span></li></font>
           <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left:
             -18px;"><A HREF="https://www.whitehouse.gov/blog/2016/05/04/continuing-shared-services-momentum">Continuing the Shared
             Services Momentum, 5/4/2016</A></span></li></font>
          <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: 
            -18px;"><A HREF="https://www.whitehouse.gov/sites/default/files/omb/memoranda/2016/m-16-11.pdf">Improving Administrative Functions through Shared Services</A>, M-16-11, 5/4/2016</span></li></font>
       <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: 
         -18px;"><A HREF=""><A HREF="https://www.whitehouse.gov/blog/2015/10/22/scaling-implementation-shared-services">Scaling Implementaiton of Shared Services</A></A>, 10/22/2016</span></li></font>
        </span></h3>
      
      </div>
  
      
      
      
   <div class="usa-width-one-third project" style="width: 40%;">
          <span class="project--image"><img src="/site/rwuhrman/Federalist-Test/assets/img/events.png"></span>
        <h3 class="project--description"><span><font style="font-size:13px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: -18px;">11/3: Provider Council Meeting</span></li></font>
          <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: -18px;">11/9: Managing Partner Council Meeting</span></li></font>
           <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: -18px;">11/17: Shared Services Goverenance Board</span></li></font>
          <font style="font-size:12px;color:#FFFFFF;"><LI style="font-size:12px;color:#FFFFFF;"><span style="position: relative; left: -18px;">12/13: Customer Council Meeting</span></li></font>
</span></h3>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="usa-grid">
    <h2><img src="/site/rwuhrman/Federalist-Test/assets/img/m3.icon.svg" width=45 height=45 valign=middle>&nbsp;Modernization and Migration Framework (M3)</h2><table align=left style="border: 1px solid white;"><TR style="border: 1px solid white;">
      <TD  style="border: 1px solid white;" valign=top><img src="http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/rwuhrman/Federalist-Test/assets/img/m3.png" align=left></TD>
      
      <TD  style="border: 1px solid white;">&nbsp;</TD>
      
    <TD style="border: 1px solid white;" valign=top ><I>August 3, 2016</I><BR>
Modernization and Migration Management (M3) is a framework designed to help the government achieve successful outcomes and reduce risk during administrative system and/or service modernizations and migrations.
<BR><BR>
M3 was built in collaboration with customers, providers, and industry. It incorporates leading practices and lessons learned from prior migrations.
  <B>Continue Reading About M3</B> <a href="/m3"><img style="vertical-align: middle" src="https://www.ussm.gov/files/2015/12/icon.learn_.png" border="0" /></a>
  </TD>  
  </TR></TABLE>
      
      </div>
</section>
{% include contact.html %}
